* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#nav {
  padding: 5px;
  background-color: #2B2B2B;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  z-index: 5;
}
#nav .nave_name {
  width: 33.3%;
  margin: auto;
  font-size: 32px;
  letter-spacing: 3px;
}
#nav .nave_name a {
  text-decoration: none;
  color: #F7B02F;
  cursor: pointer;
}
#nav .nave_name a:target {
  color: #F7B02F;
}
#nav .nav_list {
  width: 33.3%;
}
#nav .nav_list ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .nav_list ul li {
  margin: auto;
  list-style: none;
}
#nav .nav_list ul li a {
  text-decoration: none;
  color: #F7B02F;
  cursor: pointer;
}
#nav .nav_list ul li a:target {
  color: #F7B02F;
}
#nav .nav_list ul li a:hover {
  transition: all 0.4s;
  transform: scale(1.1);
  text-decoration: underline;
  color: #EAEAEA;
}
#nav .nav_social {
  width: 33.3%;
}
#nav .nav_social a {
  text-decoration: none;
  color: #F7B02F;
  cursor: pointer;
}
#nav .nav_social a:target {
  color: #F7B02F;
}
#nav .nav_social a i {
  font-size: 32px;
  margin-right: 20px;
}
#nav .nav_social a i:hover {
  transition: all 0.4s;
  transform: scale(1.1);
  color: #EAEAEA;
}

#header .header img {
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 47px;
  object-fit: cover;
  object-position: top;
}
#header .header .header_filter {
  width: 100%;
  height: 50vh;
  background: linear-gradient(to bottom, #a2ab5860, #63636360);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 47px;
  z-index: 2;
}
#header .header .header_filter h4 {
  font-size: 64px;
}
#header .header .header_filter h4 label {
  border-bottom: solid 2px #F7B02F;
}
#header .header .header_filter p {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #F7B02F;
  color: white;
  margin-top: 90px;
  box-shadow: 0px 0px 10px #F7B02F;
}
#header .header .header_filter p:hover {
  cursor: pointer;
  transition: all 0.4s;
  color: #2B2B2B;
  background: #F7B02F;
}

#portfolio {
  margin-top: 20px;
  background-color: #EAEAEA;
}
#portfolio .portfolio_position {
  width: 100%;
  display: flex;
  justify-content: center;
}
#portfolio .portfolio_position .grid_container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  padding: 20px;
}
#portfolio .portfolio_position .grid_container .grid {
  background-position: center;
  border-radius: 10px;
  overflow-y: scroll;
}
#portfolio .portfolio_position .grid_container .grid img {
  width: 357px;
  object-fit: cover;
}
#portfolio .portfolio_position .grid_container .tall {
  margin: 20px;
  width: 357px;
  height: 640px;
  box-shadow: 0px 0px 10px #2B2B2B;
  grid-row: span 3;
}

#footer {
  padding: 30px;
  background-color: #2B2B2B;
}
#footer .fotter_tittle {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 10px auto 20px;
}
#footer .fotter_tittle .fotter_tittle1 {
  font-size: 32px;
  position: relative;
  z-index: 2;
  color: #F7B02F;
}
#footer .fotter_tittle .fotter_tittle2 {
  font-size: 64px;
  position: absolute;
  top: -19px;
  left: -30px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.114);
  font-weight: 900;
}
#footer .footer_contact-content {
  display: flex;
}
#footer .footer_contact-content .footer_contact {
  width: 60%;
}
#footer .footer_contact-content .footer_contact form {
  width: 70%;
  display: flex;
  flex-direction: column;
}
#footer .footer_contact-content .footer_contact form label {
  color: #F7B02F;
}
#footer .footer_contact-content .footer_contact form input {
  height: 20px;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
}
#footer .footer_contact-content .footer_contact form button {
  padding: 5px;
  margin: auto;
  width: 90px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
#footer .footer_contact-content .footer_contact form button:hover {
  transform: 0.4s;
  background-color: #F7B02F;
}
#footer .footer_contact-content .footer_me {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}
#footer .footer_contact-content .footer_me ul {
  margin-bottom: 30px;
}
#footer .footer_contact-content .footer_me ul li {
  list-style: none;
  margin-bottom: 10px;
}