* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#header {
  overflow: hidden;
}
@media (max-height: 640px) {
  #header {
    height: 70vh;
  }
}
@media (max-height: 480px) {
  #header {
    height: 100vh;
  }
}
#header .header_background {
  width: 100%;
  position: relative;
  display: flex;
}
@media (max-height: 640px) {
  #header .header_background {
    height: 70vh;
  }
}
@media (max-height: 480px) {
  #header .header_background {
    height: 100vh;
  }
}
#header .header_background .header_backgound-left {
  height: 56vh;
  width: 60%;
  position: relative;
  background-color: #2B2B2B;
  color: #ffffff;
  display: flex;
}
@media (max-height: 640px) {
  #header .header_background .header_backgound-left {
    height: 70vh;
  }
}
@media (max-height: 480px) {
  #header .header_background .header_backgound-left {
    height: 100vh;
  }
}
#header .header_background .header_backgound-left .header_left-content {
  width: -webkit-max-content;
  width: max-content;
  padding: 10px;
  margin: auto;
}
#header .header_background .header_backgound-left .header_left-content .header_left_text p {
  font-size: 14px;
}
#header .header_background .header_backgound-left .header_left-content .header_left_text .name {
  color: #F7B02F;
  font-size: 32px;
  margin-bottom: 10px;
}
#header .header_background .header_backgound-left .header_left-content .header_left_text .profession {
  font-size: 16px;
  font-size: large;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
#header .header_background .header_backgound-left .header_left-content .header_left-contact {
  margin-top: 40px;
  color: #F7B02F;
  display: flex;
  justify-content: space-around;
}
#header .header_background .header_backgound-left .header_left-content .header_left-contact a {
  text-decoration: none;
  color: inherit;
}
#header .header_background .header_backgound-left .header_left-content .header_left-contact a:target {
  color: inherit;
}
#header .header_background .header_backgound-left .header_left-content .header_left-contact a h5 {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #F7B02F;
}
#header .header_background .header_backgound-left .header_left-content .header_left-contact a h5:hover {
  cursor: pointer;
  transition: all 0.4s;
  color: #ffffff;
  background: #F7B02F;
}
#header .header_background .header_backgound-left img {
  width: 300px;
  position: absolute;
  left: 80%;
  bottom: 0px;
}
@media (max-width: 768px) {
  #header .header_background .header_backgound-left img {
    left: 70%;
  }
}
@media (max-width: 600px) {
  #header .header_background .header_backgound-left img {
    left: 90%;
  }
}
@media (max-width: 480px) {
  #header .header_background .header_backgound-left img {
    left: 75%;
  }
}
@media (max-width: 400px) {
  #header .header_background .header_backgound-left img {
    left: 65%;
    width: 250px;
  }
}
@media (max-height: 480px) {
  #header .header_background .header_backgound-left img {
    width: 250px;
  }
}
@media (max-height: 320px) {
  #header .header_background .header_backgound-left img {
    width: 230px;
  }
}
#header .header_background .header_backgound-rigth {
  width: 40%;
  background-color: #F7B02F;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
#header .header_background .header_backgound-rigth a {
  text-decoration: none;
  color: #2B2B2B;
}
#header .header_background .header_backgound-rigth a:target {
  color: #2B2B2B;
}
@media (max-width: 600px) {
  #header .header_background .header_backgound-rigth a {
    display: none;
  }
}
#header .header_background .header_backgound-rigth a i {
  font-size: 32px;
  margin: 10px;
}
#header .header_background .header_backgound-rigth a i:hover {
  transition: all 0.4s;
  transform: scale(1.1);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
#nav {
  padding: 5px;
  background-color: #2B2B2B;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  z-index: 5;
}
@media (max-width: 1000px) {
  #nav {
    justify-content: space-around;
  }
}
#nav .nave_name {
  width: 33.3%;
  margin: auto;
  position: relative;
  z-index: 2;
  font-size: 32px;
  letter-spacing: 3px;
}
#nav .nave_name a {
  text-decoration: none;
  color: #F7B02F;
  cursor: pointer;
}
#nav .nave_name a:target {
  color: #F7B02F;
}
@media (max-width: 1000px) {
  #nav .nave_name {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #nav .nave_name {
    width: 20%;
  }
}
@media (max-width: 480px) {
  #nav .nave_name {
    width: 100%;
  }
}
#nav .nav_list {
  width: 33.3%;
}
@media (max-width: 1000px) {
  #nav .nav_list {
    width: 100%;
    background-color: #2B2B2B;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 0.5s all;
    transform: translateY(-110%);
  }
}
#nav .nav_list ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  #nav .nav_list ul {
    flex-direction: column;
    height: 100vh;
  }
}
#nav .nav_list ul li {
  margin: auto;
  list-style: none;
}
@media (max-width: 1000px) {
  #nav .nav_list ul li {
    opacity: 0;
    margin: 30px 0px;
  }
}
#nav .nav_list ul li a {
  text-decoration: none;
  color: #F7B02F;
  cursor: pointer;
}
#nav .nav_list ul li a:target {
  color: #F7B02F;
}
#nav .nav_list ul li a:hover {
  transition: all 0.4s;
  transform: scale(1.1);
  text-decoration: underline;
  color: #EAEAEA;
}
#nav .open {
  transform: translateY(0%);
}
#nav .burguer_menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 3;
}
@media (max-width: 1000px) {
  #nav .burguer_menu {
    display: block;
  }
}
@media (max-width: 480px) {
  #nav .burguer_menu {
    right: 40px;
  }
}
@media (max-width: 400px) {
  #nav .burguer_menu {
    right: 20px;
  }
}
#nav .burguer_menu .menu1 {
  width: 20px;
  height: 3px;
  background-color: #F7B02F;
  margin-bottom: 2px;
  position: relative;
  left: 10px;
  transition: 0.5s all;
}
#nav .burguer_menu .menu2 {
  width: 30px;
  height: 3px;
  background-color: #F7B02F;
  margin-bottom: 2px;
  transition: 0.5s all;
}
#nav .ex .menu1 {
  width: 30px;
  left: 0px;
  transform: rotate(45deg) translate(-6px, 10px);
}
#nav .ex .menu2 {
  transform: rotate(-45deg) translate(-7px, -10px);
}
#nav .nav_social {
  width: 33.3%;
  position: relative;
  z-index: 2;
}
@media (max-width: 1000px) {
  #nav .nav_social {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #nav .nav_social {
    position: relative;
    left: 0px;
    width: 70%;
    padding-right: 90px;
  }
}
@media (max-width: 600px) {
  #nav .nav_social {
    position: relative;
    left: 0px;
    width: 70%;
    padding-right: 9px;
  }
}
@media (max-width: 480px) {
  #nav .nav_social {
    display: none;
  }
}
#nav .nav_social a {
  text-decoration: none;
  color: #F7B02F;
  cursor: pointer;
}
#nav .nav_social a:target {
  color: #F7B02F;
}
#nav .nav_social a i {
  font-size: 32px;
  margin-right: 20px;
}
#nav .nav_social a i:hover {
  transition: all 0.4s;
  transform: scale(1.1);
  color: #EAEAEA;
}

#about {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  #about {
    flex-direction: column;
  }
}
#about .about_content {
  width: 50%;
  height: 45vh;
  display: flex;
}
@media (max-width: 1000px) {
  #about .about_content {
    width: 60%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  #about .about_content {
    width: 100%;
  }
}
@media (max-height: 640px) {
  #about .about_content {
    height: 55vh;
  }
}
@media (max-height: 480px) {
  #about .about_content {
    height: 80vh;
  }
}
@media (max-height: 320px) {
  #about .about_content {
    height: 88vh;
  }
}
#about .about_content .about_text {
  margin: auto;
  padding: 20px;
  width: 70%;
  position: relative;
  overflow-x: hidden;
}
@media (max-width: 480px) {
  #about .about_content .about_text {
    width: 100%;
  }
}
#about .about_content .about_text h3 {
  margin-bottom: 15px;
  font-size: 32px;
}
#about .about_content .about_text h3 label {
  border-bottom: solid 2px #F7B02F;
}
#about .about_content .about_text .bg {
  position: absolute;
  top: 15%;
  left: 0px;
  font-size: 150px;
  font-weight: 900;
  color: rgba(128, 128, 128, 0.214);
  z-index: -1;
}
#about .about_content .about_text .about_contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#about .about_content .about_text .about_contact h5 {
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #F7B02F;
}
#about .about_content .about_text .about_contact h5:hover {
  cursor: pointer;
  transition: all 0.4s;
  color: #ffffff;
  background: #F7B02F;
}
#about .about_content .about_text .about_contact h5 a {
  text-decoration: none;
  color: inherit;
}
#about .about_content .about_text .about_contact h5 a:target {
  color: inherit;
}
#about .about_image-content {
  width: 50%;
  height: 50vh;
  display: flex;
}
@media (max-width: 1000px) {
  #about .about_image-content {
    width: 40%;
  }
}
@media (max-width: 767px) {
  #about .about_image-content {
    width: 100%;
  }
}
@media (max-height: 640px) {
  #about .about_image-content {
    height: 60vh;
  }
}
@media (max-height: 480px) {
  #about .about_image-content {
    height: 70vh;
  }
}
@media (max-height: 450px) {
  #about .about_image-content {
    height: 90vh;
  }
}
@media (max-height: 360px) {
  #about .about_image-content {
    height: 100vh;
  }
}
#about .about_image-content .about_image {
  margin: auto;
  width: 350px;
  height: 350px;
}
@media (max-width: 1025px) {
  #about .about_image-content .about_image {
    width: 350px;
  }
}
@media (max-width: 1000px) {
  #about .about_image-content .about_image {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 767px) {
  #about .about_image-content .about_image {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 480px) {
  #about .about_image-content .about_image {
    margin: 40px auto;
  }
}
@media (max-width: 400px) {
  #about .about_image-content .about_image {
    width: 320px;
    height: 320px;
  }
}
@media (max-width: 350px) {
  #about .about_image-content .about_image {
    width: 280px;
    height: 280px;
  }
}
@media (max-height: 480px) and (max-width: 640px) {
  #about .about_image-content .about_image {
    width: 280px;
    height: 280px;
  }
}
@media (max-height: 320px) {
  #about .about_image-content .about_image {
    width: 270px;
    height: 270px;
  }
}
#about .about_image-content .about_image img {
  width: inherit;
  height: inherit;
  object-fit: fill;
  border-radius: 15px;
  box-shadow: -8px 8px 10px gray;
}

#quote {
  margin-top: 20px;
  padding: 30px 0;
  background-color: #EAEAEA;
  text-align: center;
}
@media (max-width: 480px) {
  #quote {
    margin-top: 40px;
  }
}
#quote .quote_day {
  position: relative;
}
#quote .quote_day .quote_tittle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
  z-index: 2;
}
#quote .quote_day .quote_tittle h3 {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  font-size: 32px;
}
#quote .quote_day .quote_tittle h3 label {
  border-bottom: solid 2px #F7B02F;
}
#quote .quote_day i {
  position: absolute;
  top: 10px;
  left: 48%;
  font-size: 64px;
  color: #ffffff;
}
#quote .quote_day .quote_text {
  margin-top: 20px;
  padding: 0px 10px;
}
#quote .quote_day .quote_text h6 {
  margin-top: 20px;
}

#experience .experience_tittle h3 {
  font-size: 32px;
  margin: 40px 0px 30px;
  padding-left: 90px;
}
@media (max-width: 480px) {
  #experience .experience_tittle h3 {
    padding-left: 45px;
  }
}
#experience .experience_tittle h3 label {
  border-bottom: solid 2px #F7B02F;
}
#experience .experience {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
}
#experience .experience .experience_container {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 10px;
}
#experience .experience .experience_container .experience_card {
  margin: 20px;
  position: relative;
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 10px gray;
}
#experience .experience .experience_container .experience_card .card_face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#experience .experience .experience_container .experience_card .face1 {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform-origin: bottom;
}
#experience .experience .experience_container .experience_card .face1 .face_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#experience .experience .experience_container .experience_card .face1 .face_content img {
  max-width: 100px;
}
#experience .experience .experience_container .experience_card .face1 .face_content h3 {
  letter-spacing: 2px;
  margin: 10px 0 0;
  color: #2B2B2B;
  text-align: center;
  font-size: 1.5em;
}
#experience .experience .experience_container .experience_card:hover .card_face.face1 {
  transform: translateY(-100%) rotateX(90deg);
  background-color: #F7B02F;
}
#experience .experience .experience_container .experience_card .face2 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg);
}
#experience .experience .experience_container .experience_card:hover .card_face.face2 {
  transform: translateY(0%) rotateX(0deg);
  background-color: #2B2B2B;
  color: #ffffff;
}
#experience .portfolio_button {
  margin: 30px 0px;
  width: 100%;
  text-align: center;
}
#experience .portfolio_button a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #F7B02F;
}
#experience .portfolio_button a:hover {
  cursor: pointer;
  transition: all 0.4s;
  color: #ffffff;
  background: #F7B02F;
}

#footer {
  padding: 30px;
  background-color: #2B2B2B;
}
#footer .fotter_tittle {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 10px auto 20px;
}
#footer .fotter_tittle .fotter_tittle1 {
  font-size: 32px;
  position: relative;
  z-index: 2;
  color: #F7B02F;
}
#footer .fotter_tittle .fotter_tittle2 {
  font-size: 64px;
  position: absolute;
  top: -19px;
  left: -30px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.114);
  font-weight: 900;
}
#footer .footer_contact-content {
  display: flex;
}
@media (max-width: 480px) {
  #footer .footer_contact-content {
    flex-direction: column;
    align-items: center;
  }
}
#footer .footer_contact-content .footer_contact {
  width: 60%;
}
@media (max-width: 480px) {
  #footer .footer_contact-content .footer_contact {
    width: 90%;
  }
}
#footer .footer_contact-content .footer_contact form {
  width: 70%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  #footer .footer_contact-content .footer_contact form {
    width: 100%;
  }
}
#footer .footer_contact-content .footer_contact form label {
  color: #F7B02F;
}
#footer .footer_contact-content .footer_contact form input {
  height: 20px;
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
}
#footer .footer_contact-content .footer_contact form button {
  padding: 5px;
  margin: auto;
  width: 90px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}
#footer .footer_contact-content .footer_contact form button:hover {
  transform: 0.4s;
  background-color: #F7B02F;
}
#footer .footer_contact-content .footer_me {
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 480px) {
  #footer .footer_contact-content .footer_me {
    margin-top: 20px;
  }
}
#footer .footer_contact-content .footer_me ul {
  margin-bottom: 30px;
}
#footer .footer_contact-content .footer_me ul li {
  list-style: none;
  margin-bottom: 10px;
}
#footer .footer_contact-content .footer_social {
  display: none;
}
@media (max-width: 480px) {
  #footer .footer_contact-content .footer_social {
    display: block;
  }
}
#footer .footer_contact-content .footer_social a {
  text-decoration: none;
  color: #F7B02F;
  cursor: pointer;
}
#footer .footer_contact-content .footer_social a:target {
  color: #F7B02F;
}
#footer .footer_contact-content .footer_social a i {
  font-size: 32px;
  margin-right: 20px;
}
#footer .footer_contact-content .footer_social a i:hover {
  transition: all 0.4s;
  transform: scale(1.1);
  color: #EAEAEA;
}