// W => 1025, 1000, 767, 600, 480, 400, 350
// H => 640, 480, 450, 360, 320
@mixin text($value1,$value2,$value3) {
    @if $value1 == 1{
        font-size: 16px;
    } @else if $value2 == 2 {
        font-size: 32px;
    } @else if $value3 == 3 {
        font-size: 64px;
    }
}
// buttons
@mixin button {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $mainColorY;

    &:hover{
        cursor: pointer;
        transition: all 0.4s;
        color: $mainColorB;
        background: $mainColorY;
    }
}
#header{
    .header{
        img{
            width: 100%;
            height: 50vh;
            position: absolute;
            top:47px;
            object-fit: cover;
            object-position: top;

            @media (max-width:360px) {
                height: 80vh;
            }

            @media (max-height:400px) {
                height: 95vh;
            }
        }
        .header_filter{
            width: 100%;
            height: 50vh;
            background: -webkit-linear-gradient(to bottom, #a1ab5860, #63636360);
            background: linear-gradient(to bottom, #a2ab5860, #63636360);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 47px;
            z-index: 2;

            @media (max-width:360px) {
                height: 80vh;
            }

            @media (max-height:400px) {
                height: 95vh;
            }

            h4{
                @include text(0,0,3);
                text-align: center;
                text-shadow: 5px 5px 10px wheat;
                label{
                    border-bottom: solid 2px $mainColorY ;
                    @media (max-width:680px){
                        border-bottom: none ;
                    }
                }

            }

            p{
                @include button();
                color: white;
                margin-top: 90px;
                box-shadow:  0px 0px 10px $mainColorY;

                a{
                    text-decoration: none;
                    color: inherit;
                }
            }

        }
    }
}