//fonts Size
@mixin text($value1,$value2,$value3) {
    @if $value1 == 1{
        font-size: 16px;
    } @else if $value2 == 2 {
        font-size: 32px;
    } @else if $value3 == 3 {
        font-size: 64px;
    }
}

// buttons
@mixin button {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $mainColorY;

    &:hover{
        cursor: pointer;
        transition: all 0.4s;
        color: $mainColorW;
        background: $mainColorY;
    }
}

#portfolio{
    margin-top: 20px;

    .portfolio_position{
        width: 100%;
        display: flex;
        justify-content: center;
        
        .portafolio_container{
            width: 100%;
            margin: 70px 10px 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            height: max-content;
            overflow-y: hidden;

            .website{
                margin: 20px;
                height: 400px;
                overflow-y: scroll;
                border-radius: 10px;
                box-shadow: 0px 0px 10px black;
                position: relative;

                
                img{
                    width: 350px;
                    height: 900px;

                    @media (max-width:450px){
                        width: 300px;
                    }

                    @media (max-width:360px){
                        width: 280px;
                        height: 600px;
                    }

                    @media (max-width:320px){
                        width: 100%;
                    }
                }

                &:hover .website_description{
                    opacity: 0;
                }

                .website_description{
                    width: 90%;
                    background-color: #2b2b2bb6;
                    position: sticky;
                    bottom: 10px;
                    left: 17px;
                    border-radius: 10px;
                    transition: 0.5s ease-in-out;

                    p{
                        text-align: center;
                        @include text(0,2,0);
                        color :$mainColorY;
                    }
                    
                    ul{
                        margin-top: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        
                        li{
                            color: $secondColorG;
                            list-style: none;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}