@mixin text($value1,$value2,$value3) {
    @if $value1 == 1{
        font-size: 16px;
    } @else if $value2 == 2 {
        font-size: 32px;
    } @else if $value3 == 3 {
        font-size: 64px;
    }
}

@mixin button {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $mainColorY;

    &:hover{
        cursor: pointer;
        transition: all 0.4s;
        color: $mainColorW;
        background: $mainColorY;
    }
}

#about{
    width: 100%;
    display: flex;

    @media(max-width:768px){
        flex-direction: column;
    }

    .about_content{
        width: 50%;
        height: 45vh;
        display: flex;

        @media(max-width:1000px){
            width: 60%;
        }

        @media(max-width:768px){
            width: 100%;
        }
        
        .about_text{
            margin: auto;
            padding: 20px;
            width: 70%;
            position: relative;
            overflow-x: hidden;

            h3{
                margin-bottom: 15px;
                @include text(0,2,0);

                label{
                    border-bottom: solid 2px $mainColorY;
                }
            }

            .bg{
                position: absolute;
                top: 15%;
                left: 0px;
                font-size: 150px;
                font-weight: 900;
                color: rgba(128, 128, 128, 0.214);
                z-index: -1;
            }

            .about_contact{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                h5{
                    margin-top: 20px;
                    margin-right: 5px;
                    @include button();
                    a{
                        text-decoration: none;
                        color: inherit;
                        &:target{
                            color: inherit;
                        }
                    }
                }
            }
        }
    }

    .about_image-content{
        width: 50%;
        height: 50vh;
        display: flex;

        @media(max-width:1000px){
            width: 40%;
        }

        @media(max-width:768px){
            width: 100%;
        }

        .about_image{
            margin: auto;
            width: 280px;
            height: 350px;

            @media(max-width:1000px){
                width: 280px;
                height: 280px;
            }

            @media(max-width:768px){
                width: 350px;
                height: 350px;
            }
            
            img{
                width: inherit;
                height: inherit;
                object-fit: fill;
                border-radius: 15px;
                box-shadow: -8px 8px 10px gray;
            }
        }
    }
}