@mixin text($value1,$value2,$value3) {
    @if $value1 == 1{
        font-size: 16px;
    } @else if $value2 == 2 {
        font-size: 32px;
    } @else if $value3 == 3 {
        font-size: 64px;
    }
}

@mixin button {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $mainColorY;

    &:hover{
        cursor: pointer;
        transition: all 0.4s;
        color: $mainColorW;
        background: $mainColorY;
    }
}

#header{
    .header_background{
        width: 100%;
        position: relative;
        display: flex;
        .header_backgound-left{
            height: 50vh;
            width: 60%;
            position: relative;
            background-color: $mainColorB ;
            color: $mainColorW;
            display: flex;
            .header_left-content{
                width: max-content;
                padding: 10px;
                margin: auto;
                .header_left_text{
                    p{
                       font-size: 14px;
                    }

                    .name{
                        color: $mainColorY;
                        @include text(0,2,0);
                        margin-bottom: 10px;
                    }

                    .profession{
                        @include text(1,0 ,0 );
                        font-size: large;
                        margin-bottom: 10px;
                        letter-spacing: 2px;
                    }
                }

                .header_left-contact{
                    margin-top: 40px;
                    color: $mainColorY;
                    display: flex;
                    justify-content: space-around;

                    h5{
                        @include button();
                    }
                }
            }

            img{
                width: 300px;
                position: absolute;
                left: 85%;
                bottom: 0px;
            }
        }
        
        .header_backgound-rigth{
            width: 40%;
            background-color: $mainColorY;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            i{
                @include text(0,2,0);
                margin:10px;

                &:hover{
                    transition: all 0.4s;
                    transform: scale(1.1);
                }
            }
        }
    }
}