@mixin text($value1,$value2,$value3) {
    @if $value1 == 1{
        font-size: 16px;
    } @else if $value2 == 2 {
        font-size: 32px;
    } @else if $value3 == 3 {
        font-size: 64px;
    }
}

@mixin link($color) {
    text-decoration: none;
    color: $mainColorY;
    cursor: pointer;
    &:target{
        color: $color;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

#nav{
    padding: 5px;
    background-color: $mainColorB;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;    
    z-index: 5;

    @media (max-width: 1000px) {
        justify-content: space-around;  
    }

    .nave_name{
        width: 33.3%;
        margin: auto;
        position: relative;
        z-index: 2;
        
        a{
            @include link($mainColorY);
        }

        @include text(0,2,0);
        letter-spacing: 3px;

        @media (max-width: 1000px) {
            width: 50%;    
        }

        @media (max-width: 767px) {
            width: 20%;    
        }

        @media (max-width: 480px) {
            width: 100%;    
        }
    }

    .nav_list{
        width: 33.3%;

        @media (max-width: 1000px) {
            width: 100%;
            background-color: $mainColorB;
            position: absolute;   
            top: 0px;
            right: 0px;
            transition: 0.5s all;
            transform: translateY(-110%);
        }

        ul{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 1000px) {
                flex-direction: column; 
                height: 100vh;  
            }

            li{
                margin: auto;
                list-style: none;

                @media (max-width: 1000px) {
                    opacity: 0;
                    margin: 30px 0px;
                }
                
                a{
                    @include link($mainColorY);
                    &:hover{
                        transition: all 0.4s;
                        transform: scale(1.1);
                        text-decoration: underline;
                        color:$secondColorG;
                    }
                }
            }
        }
    }

    .open{
        transform: translateY(0%);
    }

    .burguer_menu{
        display: none;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 3;

        @media (max-width:1000px){
            display: block;
        }

        @media (max-width:480px){
            right: 40px;
        }

        @media (max-width:400px){
            right: 20px;
        }

        .menu1{
            width: 20px;
            height: 3px;
            background-color: $mainColorY;
            margin-bottom: 2px;
            position: relative;
            left: 10px;
            transition: 0.5s all;
        }

        .menu2{
            width: 30px;
            height: 3px;
            background-color: $mainColorY;
            margin-bottom: 2px;
            transition: 0.5s all;
        }
    }

    .ex .menu1{
        width: 30px;
        left: 0px;
        transform: rotate(45deg) translate(-6px,10px);
    }
    .ex .menu2{
        transform: rotate(-45deg) translate(-7px,-10px);
    }

    .nav_social{
        width: 33.3%;
        position: relative;
        z-index: 2;

        @media (max-width: 1000px) {
            width: 50%;     
        }

        @media (max-width: 767px) {
            position: relative;
            left: 0px;
            width: 70%; 
            padding-right: 90px;    
        }

        @media (max-width: 600px) {
            position: relative;
            left: 0px;
            width: 70%; 
            padding-right: 9px;    
        }

        @media (max-width: 480px){
            display: none;
        }

        a{
            @include link($mainColorY);
            i{
                @include text(0,2,0);
                margin-right: 20px;
                &:hover{
                    transition: all 0.4s;
                    transform: scale(1.1);
                    color:$secondColorG ;
                }
            }

        }
    }
}