//fonts Size
@mixin text($value1,$value2,$value3) {
    @if $value1 == 1{
        font-size: 16px;
    } @else if $value2 == 2 {
        font-size: 32px;
    } @else if $value3 == 3 {
        font-size: 64px;
    }
}

// buttons
@mixin button {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $mainColorY;

    &:hover{
        cursor: pointer;
        transition: all 0.4s;
        color: $mainColorW;
        background: $mainColorY;
    }
}

#studies{
    margin-top: 80px;
    padding: 10px 80px;

    @media(max-width:767px){
        padding: 10px 40px;
    }

    @media(max-width:600px){
        padding: 10px 20px;
    }

    h4{
        @include text(0,2,0);

        label{
            border-bottom: solid 2px $mainColorY;
        }
    }

    .about_me{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .about_card{
            margin: 20px 5px;
            display: flex;
            cursor: default;

            .about_img{
                width: 350px;
                height: 350px;
                overflow-y: hidden;

                @media(max-width:400px){
                    width: 300px;
                    height: 300px;
                }
                

                img{
                    width: inherit;
                    height: inherit;
                    object-fit: contain;
                    border-radius: 10px;
                    transition: 0.5s all;
                    
                }

                p{
                    padding: 10px;
                    margin: 10px;
                    background-color: $mainColorY;
                    transition: 0.5s all;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px black;

                    a{
                        text-decoration: none;
                        color: $mainColorW;
                    }
                }

                &:hover{
                    img{
                        filter: grayscale(0.5);
                    }
                    p{
                        transform: translateY(-120%);
                    }
                }
            }            
        }
    }
   
}
